body {
    background-color: grey;
    background-image: url(depositphotos_185876636-stock-photo-stone-wall-medieval-castle-masonry.jpeg);
}

h1 {
    font-family: Luminari;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    background-color: white;
    border: 2px solid black;
}

h2 {
    font-family: Luminari;
    text-decoration: underline;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

#characters {
    text-align: center;
}

form a {
    background-color: white;
    border: 2px solid black;
}

img {
    max-width: 225px;
    max-height: auto;
    border: 2px solid black;
}

main.character-data {
    display: inline-block;
}

p {
    width: 225px;
    height: auto;
    background-color: white;
    border: 2px solid black;
}

ul {
    text-align: center;
}